@font-face {
  font-family: "Latin Modern Roman";
  src: url("/fonts/lmroman10-regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("/fonts/lmroman10-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("/fonts/lmroman10-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("/fonts/lmroman10-bolditalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

/* Apply the font to the entire website */
body, h1, h2, h3, h4, h5, h6, .profile_inner h1 {
  font-family: "Latin Modern Roman", "Computer Modern Serif", "CMU Serif", serif !important;
}
/*body {*/
    /*background-image: url('/background.jpeg') !important;*/
    /*background-size: cover !important;*/
    /*background-position: center !important;*/
    /*background-attachment: fixed !important;*/
/*}*/

/*.profile_inner img {*/
    /*border-radius: 70 !important;*/
/*}*/

.post-meta {
    display: none !important;
}

.profile_inner h1, .first-entry .entry-header h1 {
    font-weight: normal !important;
}